
/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
#site-logo {
  min-width: 145px;
  padding: 30px 0;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
#site-logo img {
  width: 145px;
}
#site-logo img.logo-static {
  display: block;
}
#site-logo img.logo-scroll {
  display: none;
}

.is-stuck #site-logo img.logo-static {
  display: none;
}
.is-stuck #site-logo img.logo-scroll {
  display: block;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
  list-style: none;
  padding-left: 0;
}

.site-header {
  background: #fff;
  border-bottom: 1px solid rgba(20, 29, 56, 0.15);
  position: relative;
  z-index: 10;
}

.octf-mainbar-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.octf-mainbar {
  display: flex;
  flex-flow: column wrap;
  flex: 1 auto;
}

.octf-main-header .octf-mainbar-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 1 auto;
}

.octf-mainbar-row > [class^=octf-col] {
  display: flex;
  align-items: stretch;
  position: static;
}

.octf-mainbar-row .octf-col {
  flex-basis: 0;
  flex-grow: 0.65;
  max-width: 100%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.octf-mainbar-row > [class^=octf-col] {
  flex-flow: row nowrap;
}
.octf-mainbar-row > [class^=octf-col].text-left {
  justify-content: flex-start;
}
.octf-mainbar-row > [class^=octf-col].text-center {
  justify-content: center;
}
.octf-mainbar-row > [class^=octf-col].text-right {
  justify-content: flex-end;
}

.octf-main-header .octf-row > div:empty {
  display: none;
}

.octf-row {
  margin-right: -15px;
  margin-left: -15px;
}

.octf-col:before {
  display: inline-flex;
}

.octf-main-header .octf-row .octf-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.octf-header-module {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Main Menu */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-navigation {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.main-navigation > ul {
  position: relative;
  display: flex;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.main-navigation ul {
  font-weight: bold;
  list-style: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

.main-navigation > ul > li {
  margin: 0px 20px;
  padding: 0px 0px;
  float: left;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.main-navigation > ul > li:before {
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -1px;
  right: 0;
  background: #43baff;
  content: "";
  display: block;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}

.main-navigation > ul > li:hover:before,
.main-navigation > ul > li.current-menu-item:before,
.main-navigation > ul > li.current-menu-ancestor:before {
  left: 0;
  right: auto;
  width: 100%;
}

.main-navigation ul ul {
  float: none;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #fff;
  box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.1);
}

.main-navigation ul > li > a {
  display: inline-block;
  padding: 32px 0px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  outline: none;
  color: #1a1b1e;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.main-navigation ul > li > a:hover {
  color: #43baff;
}

.main-navigation ul > li.menu-item-has-children > a {
  padding-right: 17px;
}

.main-navigation > ul > li.menu-item-has-children:last-child > a:after {
  right: 0px;
}

.main-navigation ul li li {
  display: block;
  position: relative;
  padding: 0px 40px;
}

.main-navigation ul li li a {
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  color: #1a1b1e;
  text-align: left;
  display: block;
  padding: 5px 0px 5px 0px;
  position: relative;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}

.main-navigation ul li li a:before {
  position: absolute;
  content: "//";
  top: 50%;
  left: 0;
  color: #43baff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;
}

.main-navigation ul li li a:hover:before,
.main-navigation ul ul li.current-menu-item > a:before,
.main-navigation ul ul li.current-menu-ancestor > a:before {
  left: 0px;
  visibility: visible;
  opacity: 1;
}

.main-navigation ul li li a:hover,
.main-navigation ul ul li.current-menu-item > a,
.main-navigation ul ul li.current-menu-ancestor > a {
  color: #43baff;
  padding-left: 12px;
}


.main-navigation ul > li.menu-item-has-children > a:hover:after {
  color: #43baff;
}

.main-navigation ul > li li.menu-item-has-children > a:after {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5px;
  font-size: 9px;
  color: #c3c7c9;
  transform: rotate(0deg);
}

.main-navigation ul li ul {
  width: 280px;
  white-space: nowrap;
  padding: 25px 0px;
  position: absolute;
  top: calc(100% + 1px);
  left: -40px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.main-navigation ul li ul ul {
  left: 100%;
  top: -25px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
}

.main-navigation ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.main-navigation ul > li:hover > ul {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* Header Call To Action */
.octf-btn-cta {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
}
.octf-btn-cta .toggle_search {
  cursor: pointer;
  margin-left: 30px;
}
.octf-btn-cta .h-search-form-field {
  position: absolute;
  z-index: 99;
  top: -webkit-calc(100% + 1px);
  top: expression(100% + 1px);
  top: -moz-calc(100% + 1px);
  top: -o-calc(100% + 1px);
  top: calc(100% + 1px);
  right: -30px;
  width: 330px;
}
.octf-btn-cta .h-search-form-field .h-search-form-inner {
  padding: 30px;
  background-color: #fff;
  box-shadow: 15px 15px 34px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 15px 15px 34px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 15px 15px 34px 0px rgba(0, 0, 0, 0.1);
}
.octf-btn-cta .h-search-form-field.show {
  -webkit-animation: stickySlideUp 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: stickySlideUp 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.h-search-form-inner label {
  margin-bottom: 0;
}
.octf-btn-cta .octf-cta-icons i {
  color: #1b1d21;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  min-width: 22px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.octf-btn-cta .octf-cta-icons i:before, .octf-btn-cta .octf-cta-icons i:after {
  font-size: 22px;
}
.octf-btn-cta .octf-cta-icons i.flaticon-close:before {
  font-size: 18px;
}
.octf-btn-cta .octf-cta-icons i.flaticon-shopper:before {
  font-size: 24px;
}
.octf-btn-cta .btn-cta-group {
  margin-left: 40px;
}
.octf-btn-cta .contact-header {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 1;
  border-left: 1px solid #dcdde1;
  padding: 5px 0 5px 40px;
}
.octf-btn-cta .contact-header i {
  font-size: 22px;
  color: #43baff;
  margin-right: 12px;
}
.octf-btn-cta .contact-header span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #6d6d6d;
}
.octf-btn-cta .contact-header span.main-text, .octf-btn-cta .contact-header span a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #1b1d21;
  margin-top: 7px;
}

/*Header Shop Cart */
.h-cart-btn {
  position: relative;
}

.site-header-cart {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  top: -webkit-calc(100% + 1px);
  top: expression(100% + 1px);
  top: -moz-calc(100% + 1px);
  top: -o-calc(100% + 1px);
  top: calc(100% + 1px);
  right: -30px;
  background: #fff;
  width: 330px;
  padding: 30px;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  -webkit-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.site-header-cart .woocommerce-mini-cart__buttons {
  margin-bottom: -15px;
}
.site-header-cart .widget_shopping_cart_content {
  text-align: left;
}
.woocommerce-mini-cart__empty-message {
    margin-bottom: 0;
}

.cart-btn-hover:hover .site-header-cart {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.cart-btn-hover:hover .site-header-cart:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  top: -10px;
  left: 0px;
}

.cart-icon {
  position: relative;
  display: inline-block;
}
.cart-icon .count {
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 20px;
  height: 20px;
  line-height: 21px;
  background: #43baff;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
}

.header-style-3 {
  border: none;
}
.header-style-3 .octf-main-header {
  background: #141d38;
}
.header-style-3 .main-navigation ul.menu > li > a,
.header-style-3 .octf-btn-cta .octf-cta-icons i {
  color: #fff;
}
.header-style-3 .main-navigation ul.menu > li > a:hover,
.header-style-3 .octf-btn-cta .octf-cta-icons i:hover {
  color: #43baff;
}

@-webkit-keyframes stickySlideUp {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stickySlideUp {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes stickySlideDown {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stickySlideDown {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.is-stuck {
  -webkit-animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
  -moz-animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.is-stuck {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.admin-bar .is-stuck,
.admin-bar .header-overlay {
  top: 32px;
}

@media screen and (min-width: 1024px) {
  .header-static .is-stuck{
    background-color: #fff;
  }
  .is-stuck {
    background-color: #0E0A31;
    -webkit-box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
    -moz-box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
    box-shadow: 4px 4px 30px 0px rgba(42, 67, 113, 0.15);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    backdrop-filter: blur(20px) saturate(180%);
  }
  .is-stuck .main-navigation ul.menu > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.is-stuck #site-logo {
  padding: 15px 0px 15px 0px;
}

/* Responsive */
@media (max-width: 1199px) {
  .main-navigation > ul > li {
    margin: 0 14px;
  }
}
@media (max-width: 1440px) {
  .octf-btn-cta .btn-cta-header {
    display: none;
  }
}
@media (max-width: 1265px) {
  .octf-btn-cta .contact-header {
    display: none;
  }
}
/*--------------------------------------------------------------
## Header Mobile
--------------------------------------------------------------*/
.header_mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .octf-main-header {
    display: none;
  }

  .header-topbar {
    display: none;
  }

  .site-header {
    background: #fff;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
    -moz-box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
    box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
  }

  .header_mobile {
    display: block;
    width: 100%;
    background: #fff;
  }
  .header_mobile.is-stuck {
    box-shadow: 2px 2px 15px 0px rgba(42, 67, 113, 0.15);
  }

  .header_mobile .mlogo_wrapper {
    position: relative;
    padding: 10px 0px;
  }
  .header_mobile .mlogo_wrapper img {
    height: 45px;
  }

  .header_mobile .mlogo_wrapper .mobile_logo {
    float: left;
  }

  #mmenu_toggle {
    position: absolute;
    cursor: pointer;
    width: 26px;
    height: 20px;
    right: 0px;
    margin-top: -10px;
    top: 50%;
  }

  #mmenu_toggle button {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -2px 0 0;
    background: #1b1d21;
    height: 4px;
    padding: 0;
    border: none;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    outline: none;
    border-radius: 2px;
  }

  #mmenu_toggle button:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 26px;
    height: 4px;
    background: #1b1d21;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    border-radius: 2px;
  }

  #mmenu_toggle button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 26px;
    height: 4px;
    background: #1b1d21;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    border-radius: 2px;
  }

  #mmenu_toggle.active button {
    background: none;
  }

  #mmenu_toggle.active button:before {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  #mmenu_toggle.active button:after {
    bottom: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .header_mobile .mobile_nav {
    display: none;
    background: #fff;
  }

  .header_mobile .mobile_nav .mobile_mainmenu {
    margin: 0;
    padding: 0;
  }

  .header_mobile .mobile_nav .mobile_mainmenu ul {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }

  .header_mobile .mobile_nav.collapse .mobile_mainmenu ul {
    display: none;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li {
    position: relative;
    list-style: none;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li a {
    padding: 9px 0;
    display: block;
    color: #1b1d21;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li:last-child > a {
    border: none;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li li a {
    font-size: 15px;
  }

  .header_mobile .mobile_nav .mobile_mainmenu li li a:hover,
.header_mobile .mobile_nav .mobile_mainmenu ul > li > ul > li.current-menu-ancestor > a, .header_mobile .mobile_nav ul li.current-menu-item > a  {
    color: #43baff;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow {
    color: #fff;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 50px;
    height: auto;
    padding: 9px 12px 9px 0;
    line-height: inherit;
    text-align: right;
    box-sizing: border-box;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow i {
    color: #9397a7;
    display: inline-block;
    line-height: 1;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow i:before {
    font-size: 8px;
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li.menu-item-has-children .arrow.active i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .header_mobile .mobile_nav .mobile_mainmenu > li > a:hover, .header_mobile .mobile_nav .mobile_mainmenu > li.current-menu-item > a,
.header_mobile .mobile_nav .mobile_mainmenu > li.current-menu-ancestor > a {
    color: #43baff;
  }
}
@media only screen and (max-width: 767px) {
  .header_mobile .mlogo_wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .mobile_logo img {
    max-width: 230px;
    max-height: 47px;
  }
}