@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap');



body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(40, 167, 69);
}

.navbar-container {
  /*min-height: 75px;*/
}

.bg-light {
  background-color: transparent !important;
}

.nav-item {
  margin-left: 40px !important;
}

.navbar-light .navbar-nav .nav-link {
  -webkit-transition: font-size 1.5s;
  -moz-transition: font-size 1.5s;
  -o-transition: font-size 1.5s;
  transition: font-size 1.5s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(249, 247, 117);
}

.namaDesa {
  line-height: 1.25;
  margin-bottom: 0rem;
  font-weight: 700;
  color: #E8EF4D;
  font-size: 1.25rem;
}

.kabDesa {
  color: white;
  font-size: 1rem;
  margin-bottom: 0px;
}

.btn-layanan {
  background-color: #26b566;
  border: none;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 25px;
}

.img-clip {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: .8;

}

.img-clip2 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 101%;
  z-index: -1;
  opacity: .8;

}

.gm-style .place-card {
  display: block !important;
}

#map-canvas {
  clip-path: url(#chopChop);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.fokus-pengembangan {
  margin-top: 10rem;
}

.font-welcome {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  color: white
}


.info-pengembangan {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  line-height: 1;
  margin-bottom: .5rem;
}

.btn-info-selengkapnya {
  width: 40%;
  border-radius: 30px;
  background-color: #163F5B;
  margin-top: 1rem;
}

.card-pengembangan {
  background-color: white;
  width: 100%;
  min-height: 150px;
  border-radius: 8px;
  padding: 8px;
}

.judul-pengembangan {
  line-height: 1.1;
  font-weight: bold;
  font-size: .9rem;
  margin-top: 18px
}

.icon-pengembangan {
  height: 70px;
  display: block;
  margin: 5px auto
}

.welcome-section {
  position: relative;
  margin-top: 157px;
}

.img-kepalaDesa {
  position: fixed;
  top: 135px;
  right: 25px;
  width: 43%;
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  -o-transition: opacity 2.0s ease-in;
  opacity: 1;
}

.info-kepala-desa {
  margin-top: 10rem;
}

.nama-kepala-desa {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.3rem;
  margin-bottom: .1rem;
}

.btn-form-kerjasama {
  color: white !important;
  border-radius: 30px;
  width: 290px;
  background-color: #163F5B;
  border: none;
}

.info-angka {
  margin-top: 3.4rem;
  background-color: #223138;
  padding: 40px 0;
}

.populasi {
  background-color: #182227;
}

.jumlahKeterangan {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  line-height: .9;
}

.textKeterangan {
  color: white;
}

.btn-infoAngka-selanjutnya {
  border-radius: 30px;
  width: 240px;
  background-color: #F26F17;
  border: none;
}

.btn-next-kabar-desa {
  border-radius: 30px;
  width: 240px;
  border: none;
  background-color: #163F5B;
}

.judul-section {
  font-weight: 700;
  font-size: 2.5rem;
}

.card-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.tgl-berita {
  font-size: .8rem;
}

.link-berita-selanjutnya {
  color: #099B32;
}

.harga {
  font-size: 1.4rem;
  font-weight: 700;
  color: #018A7A;
}

.btn-hubungi-penjual {
  width: 100%;
  border-radius: 30px;
}

#kabarDesa,
#beliDariDesa,
#wisataDesaKami {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.rel-container {
  position: relative;
}

.img-wisata {
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.judul-wisata {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.img-jualan {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.img-berita {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.bg-kabar-desa-1 {
  position: absolute;
  top: -100px;
  left: -130px;
  z-index: -1
}

.bg-kabar-desa-2 {
  position: absolute;
  top: -100px;
  right: -130px;
  z-index: -1
}

.bg-beli-dari-desa {
  width: 100vw;
  position: absolute;
  top: -15px;
  z-index: -1
}

.full-width {
  width: 100%;
}

.btn-panduan-aplikasi {
  border-radius: 30px;
}

.above-footer {
  /*background-color: #223138;*/
  background-color: #518F83;
  padding-top: 35px;
  padding-bottom: 35px;
}

.below-footer {
  /*background-color: #83CC98;*/
  background-color: #E58B21;
  padding: 7px 0px;
}

.footer-text {
  color: white;
  margin-top: 1rem;
  text-align: ;
}

.no-tlp-penting {
  color: white;
  overflow-y: scroll;
  height: 150px;
  margin-top: 1rem;
}

.link-wisata-desa {
  text-decoration: none !important;
}

.link-wisata-desa p {
  color: #212121 !important;

}

.iconx {
  margin-right: 5px
}

.slick-prev::before,
.slick-next::before {
  color: #018A7A !important;
  font-size: 24px !important;
}

.selamat-datang {
  /*margin-top: 12rem;*/
  margin-top: 3.5rem;
}

.fokus-pengembangan {
  margin-top: 5rem;
}

.ket-kepala-desa {
  /*margin-top: 10rem;*/
  margin-top: 13rem;
}

.col-ket-kepala-desa {
  padding-left: 6rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(249, 247, 117);
}

.show-read-more .more-text {
  display: none;
}

.firstHeader {
  background-color: rgb(24, 34, 39, .5) !important;
  padding-top: 0px;
  padding-bottom: 0px;

}

.darkHeader {
  /*background-color: rgba(16, 128, 0, 0.9) !important;*/
  background-color: rgb(24, 34, 39, .9) !important;
  padding-top: 0px;
  padding-bottom: 0px;

}

.roundedButton {
  border-radius: 35px;
}

.wrap-nama-desa-footer {
  margin-left: -20px;
}

.img-layanan {
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#namaDesa {
  font-size: 1.2rem;
  font-weight: 600;
}


.svg-clip {
  width: 0;
  height: 0;
}

.background-image-div {
  width: 100%;
  position: absolute;
  top: 0;
  display: block;
  height: 100vh;
  background: #000000 url('../../../../www.kemenkeu.go.id/media/14487/ilustrasi-pedesaan.jpg') no-repeat center center;
  background-size: cover;

  /* lets clip it*/
  -webkit-clip-path: url(#myClip);
  clip-path: url(#myClip);
}

.byline {
  display: block;
  text-align: right;
  padding: 10px;
  color: rgba(255, 255, 255, .7);
  float: right;
}

#backgroundImg::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 90%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 90%, rgba(0, 0, 0, .8) 100%);
}

.rm-link {
  color: #2AB567 !important;
}

.rm-link:hover {
  color: #2AB567 !important;
}

.welcome{
  margin-top: 5rem !important;
}


@media(min-width: 1366px) {
  .ket-kepala-desa {
    margin-top: 15rem;
  }
}

@media(min-width: 1440px) {
  .ket-kepala-desa {
    margin-top: 22rem;
  }
}

@media(max-width: 1025px) {
  .background-image-div {
    top: 0;
    left: 0;
    height: 53vh;
  }

  #backgroundImg::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 155%, rgba(0, 0, 0, .5) 100%)
  }

  .bg-kabar-desa-2 {
    right: 0px;
    opacity: .5;
  }
}



@media(max-width: 980px) {
  .col-xl-3 {
    margin-bottom: 2rem;
  }

  .bg-kabar-desa-1 {
    top: -90px;
    left: -330px;
    display: none
  }

  .bg-kabar-desa-2 {
    top: -85px;
    right: 0px;
    display: none
  }

  .img-berita {
    height: 150px;
  }

  .px-4 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .tampilan-desktop {
    display: none;
  }

  .background-image-div {
    top: 0;
    left: 0;
    height: 74vh;
  }

  #backgroundImg::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, .8) 100%);
  }
}

@media(max-width: 767px) {

  .col-xl-3,
  .col-md-4 {
    margin-bottom: 2rem;
  }

  .firstHeader {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .img-berita {
    height: 220px;
  }

  .judul-section {
    font-size: 1.6rem;
  }

  .bg-kabar-desa-1 {
    display: none;
  }

  .bg-kabar-desa-2 {
    display: none;
  }

  .selamat-datang {
    margin-top: 2rem;
  }

  .fokus-pengembangan {
    margin-top: 2.5rem;
  }

  .font-welcome {
    font-size: 1.3rem;
    line-height: .5;
  }

  .img-logo {
    height: 40px !important
  }

  .bg-light {
    background-color: #223138 !important;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-container {
    min-height: 0px;
  }

  .tampilan-mobile {
    display: block !important;
  }

  .welcome-mobile-section {
    padding: 25px;
  }

  .font-welcome-mobile {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    line-height: .95;
    margin-top: 1rem;
  }

  .judul-pengembangan {
    font-size: .75rem;
    line-height: 1.1;
  }

  .card-pengembangan {
    box-shadow: 7px 10px 5px -7px rgba(0, 0, 0, 0.3);
    min-height: 120px;
  }

  .icon-pengembangan {
    height: 50px;
  }

  .col-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-ket-kepala-desa {
    padding-left: 15px;
    margin-top: 3rem;
  }

  .bg-beli-dari-desa {
    display: none
  }

  .center-mobile {
    text-align: center;
  }

  .footer-kontak {
    margin-bottom: .6rem;
  }

  .nama-Kepala-Desa {
    font-size: 1.8rem;
  }

  .namaDesa {
    line-height: 1.25;
    margin-bottom: 0rem;
    font-weight: 700;
    color: #E8EF4D;
    font-size: 1rem;
  }

  .kabDesa {
    color: white;
    font-size: .8rem;
    margin-bottom: 0px;
  }

  .wrap-nama-desa {
    margin-left: -17.5px
  }

  .wrap-nama-desa-footer {
    margin-left: 5px;
    margin-top: 5px;
  }

  .wrap-nama-desa-footer p{
    text-align: left !important;
  }

  .background-image-div {
    top: 0;
    left: 0;
    height: 48vh;
  }

  #logoDigides{
    height: 70px;
  }

  #logoIconPlus{
    height: 50px;
  }

  #backgroundImg::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 155%, rgba(0, 0, 0, .5) 100%)
  }

  .jumlahKeterangan {
    font-size: 2rem;
  }

  .icon-medsos{
    width: 80%;
  }

}
