a {
    text-decoration: none;
}
.team-wrap-layout1 {
    position: relative;
    padding: 130px 0px 35px 0px;
  }
  @media only screen and (max-width: 1199px) {
    .team-wrap-layout1 {
      padding: 40px 0px 0px 0px;
    }
  }
  .team-wrap-layout1 .background-image2 {
    position: absolute;
    bottom: -150px;
    right: 0px;
  }
  @media only screen and (max-width: 1199px) {
    .team-wrap-layout1 .background-image2 {
      display: none;
    }
  }
  .team-wrap-layout1 .background-image3 {
    position: absolute;
    bottom: -110px;
    left: 0px;
  }
  @media only screen and (max-width: 1199px) {
    .team-wrap-layout1 .background-image3 {
      display: none;
    }
  }
  .team-wrap-layout1 .background-image12 {
    position: absolute;
    top: 290px;
    right: 200px;
  }
  .team-wrap-layout1 .background-image13 {
    position: absolute;
    top: 290px;
    left: 200px;
  }
  .team-wrap-layout1 .background-image16 {
    position: absolute;
    bottom: -110px;
    right: 150px;
  }
  @media only screen and (max-width: 767px) {
    .team-wrap-layout1 .background-image16 {
      display: none;
    }
  }
  .team-wrap-layout1 .background-image17 {
    position: absolute;
    bottom: -110px;
    left: 100px;
  }
  @media only screen and (max-width: 767px) {
    .team-wrap-layout1 .background-image17 {
      display: none;
    }
  }
  .team-wrap-layout1 .section-heading {
    text-align: center;
  }
  .team-wrap-layout1 .section-heading .item-subtitle {
    color: #FFCA2C;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    position: relative;
    margin-bottom: 10px;
  }
  .team-wrap-layout1 .section-heading .heading-title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 1199px) {
    .team-wrap-layout1 .section-heading .heading-title {
      font-size: 30px;
    }
  }
  @media only screen and (max-width: 991px) {
    .team-wrap-layout1 .section-heading .heading-title {
      margin-bottom: 17px;
    }
  }
  @media only screen and (max-width: 479px) {
    .team-wrap-layout1 .section-heading .heading-title {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .team-wrap-layout1 .section-heading p {
    margin-bottom: 40px;
    padding-right: 330px;
    padding-left: 330px;
  }
  @media only screen and (max-width: 1199px) {
    .team-wrap-layout1 .section-heading p {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .team-box1 {
    padding: 30px 30px 20px 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  @media only screen and (max-width: 991px) {
    .team-box1 {
      margin-bottom: 30px;
    }
  }
  .team-box1:before {
    content: "";
    width: 70px;
    height: 70px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 6px;
    position: absolute;
    bottom: 22px;
    right: -40px;
    z-index: 11;
    transform: rotate(50deg);
    transition: all 0.3s ease-in-out;
  }
  .team-box1:after {
    content: "";
    width: 70px;
    height: 70px;
    border: 2px solid #e1e1e1;
    border-radius: 6px;
    position: absolute;
    right: -45px;
    bottom: -12px;
    z-index: 10;
    transform: rotate(50deg);
    transition: all 0.3s ease-in-out;
  }
  .team-box1:hover:before {
    background-color: #FFCA2C;
  }
  .team-box1:hover:after {
    border: 2px solid #967820;
  }
  .team-box1:hover .item-img img {
    transform: scale(1.1);
    filter: grayscale(0);
  }
  .team-box1:hover .team-social {
    visibility: visible;
    bottom: 0;
    opacity: 100%;
  }
  .team-box1 .item-img {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
  }
  .team-box1 .item-img img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
  }
  .team-box1 .team-social {
    z-index: 5;
    position: absolute;
    bottom: -20%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding: 15px 60px 15px 80px;
    transition: all 0.3s ease-in-out;
    background-color: #FFCA2C;
  }
  @media only screen and (max-width: 1199px) {
    .team-box1 .team-social {
      padding: 15px 40px;
      text-align: center;
    }
  }
  @media only screen and (max-width: 479px) {
    .team-box1 .team-social {
      padding: 15px 40px 15px 60px;
    }
  }
  .team-box1 .team-social li {
    display: inline-block;
    margin-right: 9px;
    text-align: center;
  }
  @media only screen and (max-width: 320px) {
    .team-box1 .team-social li {
      margin-right: 7px;
    }
  }
  .team-box1 .team-social li:last-child {
    margin-right: 0;
  }
  .team-box1 .team-social li a {
    color: #fff;
    font-size: 20px;
    z-index: 5;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  @media only screen and (max-width: 991px) {
    .team-box1 .team-social li a {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 767px) {
    .team-box1 .team-social li a {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 479px) {
    .team-box1 .team-social li a {
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 320px) {
    .team-box1 .team-social li a {
      font-size: 15px;
    }
  }
  .team-box1 .team-social li a i {
    transition: all 0.3s ease-in-out;
  }
  .team-box1 .team-social li a i:hover {
    opacity: 80%;
  }
  .team-box1 .item-content .item-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 479px) {
    .team-box1 .item-content .item-title {
      font-size: 20px;
    }
  }
  .team-box1 .item-content .item-title a {
    color: #000;
    transition: all 0.3s ease-in-out;
  }
  .team-box1 .item-content .item-title a:hover {
    color: #FFCA2C;
  }
  .team-box1 .item-content .item-subtitle {
    color: #646464;
    font-size: 16px;
    font-weight: 500;
  }